<h1>All Recipes</h1>

<ul>
<% @recipes.each do |recipe| %>
    <li><b><%= link_to recipe.name, recipe_path(recipe) %></b></li>
    <li><%= recipe.description %></li>
    <li><%= recipe.date_created %></li> <br><br>
<% end %>
</ul>

<br>

<%= link_to "New Recipe", new_recipe_path %>