<h1>All Recipes</h1>

<ul>
<% @recipes.alphabetize.each do |recipe| %>
    <li><b><%= link_to recipe.name, recipe_path(recipe) %></b></li>
    <li>Posted on: <%= recipe.date_created.strftime("%B %-d, %Y") %></li>
    <li>Created by: <b><%= recipe.user.username %></b></li> <br><br>
<% end %>
</ul>


<%= link_to "New Recipe", new_recipe_path %>