<h1>All Recipes</h1>

<ul>
<% @recipes.each do |recipe| %>
    <li><b><%= link_to recipe.name, recipe_path(recipe) %></b></li>
    <li><%= recipe.date_created %></li>
    <li>Created By: <%= recipe.user.username %></li> <br><br>
<% end %>
</ul>


<%= link_to "New Recipe", new_recipe_path %>